/* public/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchBar {
    padding: 10px;
    width: 60%;
}

h2 {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

li:hover {
    background-color: #e6e6e6;
}

.hymn-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: none;
}
