* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --mllll-color: #030606;
    --mlll-color: #060c0b;
    --mll-color: #0b1815;
    --ml-color: #152f2a;
    /* Dark Above */
    --main-color: #2a5e53;
    /* Bright Below */
    --mh-color: #95afa9;
    --mhh-color: #cad7d4;
    --mhhh-color: #e5ebea;
    --mhhhh-color: #f2f5f5;

    --alert-color: #b30000;
}

body {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--mhhhh-color);
}

body * {
    font-family: 'Inter', sans-serif;
}

.drop-back {
    z-index: 3;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(0.3rem);
}

.drop-back.show {
    display: flex;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--mhhhh-color);
}

.page-header {
    z-index: 5;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 6rem;
    padding: 1rem;
    border-radius: 1.2rem;
    background-color: var(--mhhh-color);
}

.page-header .logo-box {
    position: relative;
    display: flex;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    background-color: var(--mhh-color);
    background-image: url(./images/me_logo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.logo-box .alert {
    position: absolute;
    height: 0.64rem;
    width: 0.64rem;
    background-color: var(--alert-color);
    border-radius: 50%;
    bottom: 0;
    right: 0;
}

.page-header .small-list {
    z-index: 4;
    position: absolute;
    top: 5rem;
    left: 4.6rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    max-height: 52rem;
    gap: 0.4rem;
    border-radius: 0.4rem;
    overflow-y: auto;
    transform: scale(0);
    transform-origin: top left;
    background-color: var(--mhh-color);
    border: solid 0.1rem var(--mh-color);
    box-shadow: 0 0.5rem 1rem var(--mh-color);
    transition: transform ease 200ms;
}

.page-header .small-list.show {
    transform: scale(1);
}

.small-list .option {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.8rem;
    gap: 1rem;
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.small-list .option:hover {
    background-color: var(--mh-color);
}

.option p {
    font-size: 1.6rem;
    color: var(--ml-color);
}

.theme .theme-button {
    z-index: 5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    gap: 0.4rem;
    scale: 0.80;
    padding: 0.4rem 0.2rem;
    border-radius: 2.4rem;
    border: solid 0.1rem var(--main-color);
    background-color: var(--mh-color);
}

.theme .theme-show {
    z-index: 6;
    position: absolute;
    left: 0.2rem;
    display: flex;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background-color: var(--mhh-color);
}

.theme-button i {
    z-index: 7;
    display: inline-flex;
    font-size: 2rem;
    margin: 0 0.2rem;
    color: var(--ml-color);
}

.option i.info {
    position: relative;
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--ml-color);
    margin-right: 12.5%;
}

.page-header .search-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: fit-content;
    margin-right: 25%;
}

.search-box .search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 2rem 0 1.2rem;
    gap: 1rem;
    border-radius: 4rem;
    background-color: var(--mhh-color);
}

.search-box .search-bar.focus {
    border: solid 0.1rem var(--mh-color);
}

.search-bar i {
    display: flex;
    font-size: 2.2rem;
    color: var(--main-color);
}

.search-bar input {
    position: relative;
    display: flex;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.6rem;
    background-color: unset;
    color: var(--ml-color);
}

.search-bar input::placeholder {
    color: var(--ml-color);
    opacity: 0.7;
}

.search-box .hymn-list.result-list {
    position: relative;
    top: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    max-height: 24rem;
    overflow-y: auto;
    gap: 0.2rem;
    padding: auto;
    border-radius: 0.8rem;
    background-color: var(--mhh-color);
    box-shadow: 0 0.2rem 1rem var(--mh-color);
}

.page-header .playlist-toggler {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 3.6rem;
    height: 3.6rem;
    cursor: pointer;
    border-radius: 1.2rem;
    background-color: var(--mh-color);
}

.page-header .playlist-toggler:hover {
    background-color: var(--mh-color);
}

.page-header .playlist-toggler:active {
    background-color: var(--main-color);
}

.playlist-toggler i {
    display: none;
    font-size: 2.4rem;
    color: var(--ml-color);
}

.playlist-toggler i.show {
    display: flex;
}

.page-header .hymn-list.outer-list {
    z-index: 4;
    position: absolute;
    top: 5rem;
    right: 3.6rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 24rem;
    height: fit-content;
    max-height: 52rem;
    gap: 0.4rem;
    padding: 0.2rem;
    border-radius: 0.4rem;
    overflow-y: auto;
    transform: scale(0);
    transform-origin: top right;
    background-color: var(--mhh-color);
    box-shadow: 0 0.5rem 1rem var(--main-color);
    transition: transform ease 200ms;
}


.full-body {
    z-index: 1;
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 9rem);
    gap: 1rem;
}

.full-body .aside-body {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    border-radius: 1.2rem;
    overflow: hidden;
    background-color: var(--mhhhh-color);
}

.aside-body .asd-head {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    gap: 1rem;
    height: 5.3rem;
    max-height: 5.3rem;
    border-bottom: solid 0.1rem var(--mh-color);
    background-color: var(--mhh-color);
}

.asd-head .icon-holder {
    position: relative;
    display: inline-flex;
    height: 2rem;
    width: 4rem;
    border-radius: 0.6rem;
    background-color: var(--mhhh-color);
}

.asd-head .head-icon {
    display: none;
}

.head-icon i {
    font-size: 2.2rem;
    color: var(--ml-color);
}

.asd-head .head-holder {
    position: relative;
    display: inline-flex;
    height: 2rem;
    width: 80%;
    border-radius: 0.6rem;
    background-color: var(--mhhh-color);
}

.asd-head h3 {
    display: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--ml-color);
}

.aside-body .asd-body {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 0.36rem;
    height: 0.36rem;
    background-color: var(--mhhh-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--mhh-color);
    border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--mh-color);
}

.asd-body .hymn-list {
    position: relative;
    top: 0.4rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0.4rem;
    padding: 0 0.2rem 0 0;
}

.hymn-list .hymn {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 4rem;
    padding: 1rem 2rem;
    gap: 1rem;
    border-radius: 0.4rem;
    background-color: var(--mhhh-color);
    cursor: pointer;
    transition: ease-out 150ms;
}

.hymn-list .hymn:hover, .hymn-list .hymn.selected {
    background-color: var(--mh-color);
}

.hymn-list .hymn:active {
    background-color: var(--mhh-color);
}

.hymn .number-holder {
    position: relative;
    display: inline-flex;
    height: 1rem;
    width: 4rem;
    border-radius: 0.6rem;
    background-color: var(--mhh-color);
}

.hymn-list .hymn.active {
    background-color: var(--mhh-color);
}

.hymn:active .number-holder {
    background-color: var(--mh-color);
}
.hymn:active .name-holder {
    background-color: var(--mh-color);
}

.hymn.active .number-holder {
    background-color: var(--mh-color);
}
.hymn.active .name-holder {
    background-color: var(--mh-color);
}

.hymn .name-holder {
    position: relative;
    display: inline-flex;
    height: 1rem;
    width: 100%;
    border-radius: 0.6rem;
    background-color: var(--mhh-color);
}

.hymn i {
    font-size: 1.8rem;
    color: var(--ml-color);
}

.hymn .hymn-number {
    display: inline-flex;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--ml-color);
}

.hymn .hymn-name {
    position: relative;
    display: inline-block; /* Try this if inline-flex causes issues */
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--ml-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.main-body {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    border-radius: 1.2rem;
    overflow: hidden;
    background-color: var(--mhhh-color);
}

.main-body .main-head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    gap: 1rem;
    height: 5.3rem;
    max-height: 5.3rem;
    border-bottom: solid 0.1rem var(--mh-color);
    background-color: var(--mhh-color);
}

.main-head .hymn-title {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;
    gap: 1rem;
}

.hymn-title .number-holder {
    position: relative;
    display: inline-flex;
    height: 2rem;
    width: 4rem;
    border-radius: 0.6rem;
    background-color: var(--mhhh-color);
}

.hymn-title .hymn-number {
    display: inline-flex;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--ml-color);
}

.hymn-title .hymn-name {
    position: relative;
    display: inline-block;
    width: fit-content;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--ml-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hymn-title .name-holder {
    position: relative;
    display: inline-flex;
    height: 2rem;
    width: 16rem;
    border-radius: 0.6rem;
    background-color: var(--mhhh-color);
}

.hymn-author {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;
}

.hymn-author .name-holder {
    position: relative;
    display: inline-flex;
    height: 2rem;
    width: 8rem;
    border-radius: 0.6rem;
    background-color: var(--mhhh-color);
}

.hymn-author h3 {
    display: inline-flex;
    width: fit-content;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--mll-color);
}

.main-body .lyrics-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 6rem 22rem;
}

.lyrics {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    height: fit-content;
}

.lyrics .verse {
    position: relative;
    display: flex;
    width: 100%;
    gap: 2.4rem;
}

.verse .number {
    position: relative;
    top: 0.4rem;
    display: flex;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding: 0.2rem 0 0 0;
    border-radius: 0.6rem;
    background-color: var(--mhh-color);
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--ml-color);
}

.verse p {
    width: 100%;
    padding: 1rem 1.4rem;
    border-radius: 1rem;
    background-color: var(--mhh-color);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: justify;
    color: var(--mll-color);
}

.verse p .paragraph-holder {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.paragraph-holder .text-holder {
    position: relative;
    display: flex;
    width: 100%;
    height: 1rem;
    border-radius: 0.6rem;
    background-color: var(--mhhh-color);
}

.lyrics .refrain {
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
}

.refrain em {
    position: relative;
    display: inline-flex;
    left: -1rem;
    margin-bottom: 0.72rem;
    font-style: italic;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--mll-color);
    text-decoration: underline;
}

.refrain p {
    position: relative;
    width: 85%;
    padding: 1rem 1.4rem 1rem 3.2rem;
    margin-right: 1rem;
    border-radius: 1rem;
    background-color: var(--mhh-color);
    font-size: 1.5rem;
    text-align: justify;
    font-weight: 400;
    color: var(--mll-color);
}

.refrain p .paragraph-holder {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.refrain p .paragraph-holder .text-holder {
    background-color: var(--mhhh-color);
}

@media (max-width: 1279px) {
    .main-body .lyrics-box {
        padding: 6rem 16rem;
    }
}

@media (max-width: 1023px) {
    .main-body .lyrics-box {
        padding: 6rem 16rem;
    }
}

@media (max-width: 859px) {
    .page-header .search-box {
        width: 46.67%;
        margin-right: 11.67%;
    }

    .full-body .aside-body {
        width: 30%;
    }

    .full-body .main-body {
        width: 70%;
    }

    .main-body .lyrics-box {
        padding: 6rem 8rem;
    }
}

@media (max-width: 767px) {
    .page-header .search-box {
        width: 50%;
        margin: 0;
    }

    .page-header .playlist-toggler {
        display: flex;
    }

    .page-header .outer-list.active {
        transform: scale(1);
    } 

    .full-body .aside-body {
        display: none;
    }

    .full-body .main-body {
        width: 100%;
    }

    .main-body .lyrics-box {
        padding: 6rem 8rem;
    }
}

@media (max-width: 599px) {
    .page-header .search-box {
        width: 60%;
        margin: 0;
    }

    .page-header .playlist-toggler {
        display: flex;
    }

    .page-header .outer-list.active {
        transform: scale(1);
    }

    .full-body .aside-body {
        display: none;
    }

    .full-body .main-body {
        width: 100%;
    }

    .main-head .hymn-title {
        width: 100%;
    }

    .main-head .hymn-author {
        display: none;
    }

    .main-body .lyrics-box {
        padding: 6rem 8rem;
    }

    .lyrics .verse {
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .main-body .lyrics-box {
        padding: 6rem 4rem;
    }
}

@media (max-width: 375px) {
    .main-body .lyrics-box {
        padding: 6rem 2rem;
    }
}