* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    user-select: none;
    scroll-behaviour: smooth;
}

:root {
    --bg-pro-color: #d0e9e0;
    --bg-main-color: #e9f1ee;
    --bg-pre-color: #f3fcf7;
    --bg-sec-color: #f8faf9;
    --bg-ter-color: #f5faf7;
    --shd-color: #00140d6e;
    --font-sec-color: #272727;
    --font-main-color: #575757;
    --high-color: #57b386;
}

body {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    height: 100%;
    width: 100%;
    background-color: var(--bg-main-color);
}

.header {
    display: flex;
    padding: 1rem 2rem;
    height: 8hv;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-sec-color);
    box-shadow: 0 0.1rem 1rem 0.1rem var(--shd-color);
}

.header .logo {
    display: flex;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: var(--bg-main-color);
    /* background-image: url(./images/spd_logo.png); */
    background-position: center;
    background-size: cover;
}

.header .search-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: calc(30% - 4rem);
    border-radius: 4rem;
    overflow: hidden;
}

.search-bar .hymn-list.searched {
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 3.2rem;
    z-index: 5;
    max-width: 24rem;
    width: 60%;
    overflow-y: auto;
    height: 60%;
    border-radius: 0.8rem;
    transform: scale(0);
    background-color: var(--bg-sec-color);
    box-shadow: 0 0.5rem 1rem 0.1rem var(--shd-color);
    transition: ease 100ms;
    transform-origin: top right;
}

.search-bar:focus-within {
    outline: solid 0.1rem var(--shd-color);
}

.search-bar .funct-wrap {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.1rem 1.8rem 0 1.4rem;
    height: 4rem;
    width: 100%;
    gap: 1rem;
    background-color: var(--bg-main-color);
    color: var(--font-main-color);
    transition: ease-in-out 50ms;
}

.search-bar i {
    display: flex;
    font-size: 2.2rem;
}

.search-bar input {
    position: relative;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.6rem;
    background-color: unset;
    color: var(--font-main-color);
}

.header .list-toggler {
    display: none;
    cursor: pointer;
}

.list-toggler i {
    font-size: 2.6rem;
    color: var(--font-sec-color);
}

.backdrop {
    position: absolute;
    display: flex;
    z-index: 4;
    top: 6rem;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    background-color: var(--shd-color);
}

.hymn-list.outsided {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 3.2rem;
    z-index: 5;
    max-width: 24rem;
    width: 60%;
    overflow-y: auto;
    height: 60%;
    border-radius: 0.8rem;
    transform: scale(0);
    background-color: var(--bg-sec-color);
    box-shadow: 0 0.5rem 1rem 0.1rem var(--shd-color);
    transition: ease 300ms;
    transform-origin: top right;
}

.hymn-list.outsided .hymn i {
    font-size: 1.4rem;
}

.main {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 6rem);
}

.main .aside {
    position: relative;
    display: flex;
    width: 20%;
    height: 100%;
    padding: 1rem;
    overflow: hidden;
}

.aside .asd-body {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.8rem;
    box-shadow: 0 2rem 1rem 0.1rem var(--shd-color);
}

.asd-body .head {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.1rem 1.8rem 0 1.4rem;
    height: 6rem;
    gap: 1rem;
    background-color: var(--bg-sec-color);
    border-bottom: solid 1px var(--shd-color);
}

.head i {
    display: flex;
    font-size: 2.2rem;
    color: var(--font-sec-color);
}

.head h2 {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--font-sec-color);
}

.asd-body .load-wheel, .load-wheel {
    position: relative;
    display: flex;
    margin: auto;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    border: solid 0.2rem var(--bg-pre-color);
    border-left-color: var(--high-color);
    border-right-color: var(--high-color);
    animation: spin 1000ms linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(720deg);
    }
}

.asd-body .hymn-list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0.3rem;
    padding: 0.3rem 0.3rem;
    list-style: none;
    overflow-y: auto;
}

.hymn-list .hymn {
    position: relative;
    display: flex;
    width: 100%;
    height: 4rem;
    padding: 1rem 2rem;
    gap: 1rem;
    border-radius: 0.4rem;
    background-color: var(--bg-sec-color);
    cursor: pointer;
    transition: ease-out 50ms;
}

.hymn-list .hymn:hover {
    background-color: var(--bg-main-color);
}

.hymn-list .hymn:active {
    background-color: var(--bg-pro-color);
}

.hymn .hymn-number {
    font-size: 1.4rem;
    color: var(--font-main-color);
}

.hymn .hymn-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.4rem;
    color: var(--font-main-color);
}

.main .body {
    position: relative;
    display: flex;
    width: 80%;
    height: 100%;
    padding: 1rem;
    overflow: hidden;
}

.body .bdy-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.8rem;
    background-color: var(--bg-sec-color);
    box-shadow: 0 2rem 1rem 0.1rem var(--shd-color);
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 6rem;
    padding: 0 4rem;
    justify-content: space-between;
    border-bottom: solid 0.1rem var(--shd-color);
}

.title h1 {
    display: inline-flex;
    gap: 1rem;
}

.title h1 span {
    font-size: 2rem;
    color: var(--font-sec-color);
    font-weight: 500;
}

.title h3 {
    font-size: 1.2rem;
}

.bdy-body .lyrics-box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.lyrics-box .lyrics {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: calc(600px + 6rem);
    height: fit-content;
    gap: 3.6rem;
    padding: 6rem 6rem;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0.36rem;
    height: 0.36rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 0.6rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.lyrics .verse {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.lyrics .refrain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-left: 6rem;
}

.verse .verse-number, .refrain .label {
    display: inline-flex;
    font-size: 1.2rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    margin-top: 0.5rem;
    line-height: 1.4rem;
    box-shadow: 0 0.1rem 0.5rem 0.1rem var(--shd-color);
    background-color: var(--bg-main-color);
}

.verse p {
    font-size: 1.6rem;
    width: 100%;
    text-align: justify;
    line-height: 2.4rem;
    color: var(--font-sec-color);
}

.refrain p {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    width: 90%;
    text-align: justify;
    line-height: 2.4rem;
    color: var(--font-sec-color);
    background-color: var(--bg-main-color);
    box-shadow: 0 0.4rem 0.5rem 0.1rem var(--shd-color);
}

.refrain p em {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    color: var(--font-sec-color);
}

@media (max-width:960px) {
    .header .search-bar {
        width: 35%;
        margin-right: calc(22% - 4rem);
    } 

    .main .aside {
        width: 30%;
    }

    .main .body {
        width: 70%
    }
}

@media (max-width: 720px) {
    .header {
        justify-content: space-between;
    }

    .header .search-bar {
        width: 40%;
        margin: 0;
    } 

    .header .list-toggler {
        display: flex;
    }

    .hymn-list.outsided.show {
        transform: scale(1);
    }

    
    .backdrop.show {
        transform: scale(1);
    }

    .list-toggler i.show {
        display: flex;
    }

    .list-toggler i {
        display: none;
    }

    .main .aside {
        display: none;
    }

    .main .body {
        width: 100%;
    }
}

@media (max-width: 540px) {
    .header .search-bar {
        width: 60%;
    }

    .title {
        padding: 0 2rem;
    }

    .title h3 {
        display: none;
    }

    .lyrics-box .lyrics {
        padding: 6rem 4rem 6rem 2rem;
    }

    .lyrics .refrain {
        margin-left: 4rem;
    }

    .refrain p{
        width: 98%;
    }
}
